<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="logout()">
        <ion-icon slot="icon-only" name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      Mis Canciones
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list class="ios list-ios hydrated">
    <ion-list-header class="ios hydrated">
      Lista de canciones
    </ion-list-header>
    <ion-item *ngFor="let booking of Bookings" class="user-list">
      <ion-label>
        <h5>
          <ion-icon name="musical-notes-outline"></ion-icon> {{ booking.title }}
        </h5>
        <p>
          <ion-icon name="person"></ion-icon> {{ booking.artist }}
          <ion-icon name="book-outline"></ion-icon> {{ booking.album }}
          <ion-icon name="time"></ion-icon> {{ booking.duration }}
        </p>
      </ion-label>
      <div class="item-note" item-end>
        <button ion-button clear (click)="goToHome(booking.$key)">
          <ion-icon name="create" style="zoom:2.0"></ion-icon>
        </button>
        <button ion-button clear (click)="deleteBooking(booking.$key)">
          <ion-icon name="trash" style="zoom:2.0"></ion-icon>
        </button>
      </div>
    </ion-item>
  </ion-list>
</ion-content>
